Language: Cpp
BasedOnStyle: Google
SortIncludes: Never
ColumnLimit: 80
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AlignConsecutiveMacros: Consecutive
LineEnding: LF